{% extends "base.html" %}
{% load static %}

{% block title %}Index{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% include "core/topic_list.html" %}
            </div>
            <div class="col-4">
                {% include "core/category.html" %}
            </div>
        </div>
    </div>
{% endblock %}